body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.countdown-container {
  text-align: center;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.countdown-timer > div {
  margin: 0 15px;
}

.time-text {
  font-size: 14px;
}
